<!-- Form item start -->
<form action="/create_item_from_restaurant" method="post">
<!-- Form item end -->

  <!-- Label and input for restaurant_id start -->
  <!-- Input for restaurant_id start -->
  <input type="hidden" name="restaurant_id" value="<%= @restaurant.id %>">
  <!-- Input for restaurant_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create item
  </button>
</form>
