<form action="/create_item_from_restaurant" method="post">

  <input type="hidden" name="restaurant_id" value="<%= @restaurant.id %>">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @item.name %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create item
  </button>
</form>
