<form action="/create_item_from_restaurant" method="post">

  <input type="hidden" name="restaurant_id" value="<%= @restaurant.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create item
  </button>
</form>
