<form action="/create_review_from_item" method="post">

  <div class="form-group">
    <label for="review">
      Review
    </label>

    <input type="text" id="review" name="review" class="form-control" value="<%= @review.review %>">
  </div>

  <input type="hidden" name="item_id" value="<%= @item.id %>">

  <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create review
  </button>
</form>
