<!-- Validation failure messages -->
<% if @item.present? %>
  <% if @item.errors.any? %>
    <% @item.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new item
</h1>


<hr>

<!-- Form item start -->
<form action="/create_item" method="post">
<!-- Form item end -->

  <!-- Label and input for restaurant_id start -->
  <div class="form-group">
    <label for="restaurant_id">
      Restaurant
    </label>

    <!-- Input for restaurant_id start -->
    <input type="text" id="restaurant_id" name="restaurant_id" class="form-control" value="<%= @item.restaurant_id %>">
    <!-- Input for restaurant_id end -->
  </div>
  <!-- Label and input for restaurant_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create item
  </button>
</form>

<hr>

<a href="/items">
  Go back
</a>
