<h1>
  Add a new item
</h1>


<hr>

<form action="/create_item" method="post">

  <div class="form-group">
    <label for="restaurant_id">
      Restaurant
    </label>

    <%= select_tag(:restaurant_id, options_from_collection_for_select(Restaurant.all, :id, :name, @item.restaurant_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create item
  </button>
</form>

<hr>

<a href="/items">
  Go back
</a>
